/* Universal */

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Montserrat', sans-serif;
}

/*------------ 
First section start
-------------- */

.Flexiable-container{
    background-color: #2D25A0;
    display: flex;
    height: 677px;
    margin-bottom: 150px;
    align-items: center;
}

.half-width{
    width: 50%;
    padding-left: 5%;
    transition: transform 2s ease-in-out;
    
}

.display-text{
    font-size: 60px;
    width: 485px;
    height: 230px;
    margin-top: 5px;
    margin-bottom: 25px;
    color:rgb(245, 245, 245);
}
.w-button{
    text-decoration: none;
    background-image: linear-gradient(to left bottom,#f5f7fa,#b8c6db );
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(87, 87, 200);
    font-weight: 500px;
}

.banner{
    width: 80%;
}
/*------- Transition----- */

.half-width:hover {
transform: scale(1.1);

}
/*------------ 
First section end
-------------- */

/*------------ 
Second section start
-------------- */
.row-container{
    width: 1050px;
    display: flex;
    align-items: center;
    margin-left: 180px;
    margin-right: 210px;
    margin-bottom: 50px;
    justify-content: space-between;
}
.player-container{
    width: 330px;
    height: 500px;
    background-color: #ffffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-picture .pic{
    width: 300px;
    height: 256px;
    padding: 16px;
}
.player-detail{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 154px;
    padding: 16px;
}
.name{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}
.detail{
    line-height: 26px;
    font-size: 16px;
    font-weight: 200;
}
/*------------ 
Second section end
-------------- */

/*------------ 
Extra section Start
-------------- */
.extra-1{
    background-color: rgb(46, 76, 104);
}
.counting{
    
    margin-left: 180px;
    margin-right: 210px;
    margin-bottom: 150px;
}
.match{
   text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}
.timing{
    display: flex;



}
.timing h1 p{
    font-size: 40px;
    font-weight: 600;
}
/*------------ 
Extra section End
-------------- */

/*------------ 
footer area start
-------------- */

footer{
    display: block;
    text-align: center;
}
.social{
    margin-bottom: 15px;
    color: lightslategray;
    justify-content: space-between;

}
.logo{
    align-items: center;
}
.logo img{
    width: 20%;
}

/*------------ 
footer area end
-------------- */

/* Media Queries */

/* Mobile Section  */
@media only screen and (max-width:688px) {
    
    .Flexiable-container{
     display: grid;
     align-items: center;
    }
    .display-text{
        font-size: 18px;
    }
    .half-width{
        width: 100%;
        padding-left: 5%;
    }
    .banner{
        width: 60%;
}
.container{
    display: grid;
}
}
.row-container{
    display: grid;
    padding-left: 0%;
}
.timing {
    display: grid;
    

}
